{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}
{%  form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>
                <button class="btn btn-danger">X</button>
                <button class="btn btn-warning">E</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_start(form) }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
    <button type="submit" class="btn btn-success">Create</button>
    {{ form_end(form) }}

{% endblock %}
